.pde {
  overflow-y: auto;

  .box-wrapper {
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
  }

  .scrollable {
    --scroll-margin: 0;
    padding: 10px;
  }

  .form-footer {
    margin-top: 10px;

    .button {
      font-size: 22px;
      width: 100%;
      padding: 5px;
    }
  }

  &#input-dialog {

    .message {
      font-weight: bold;
    }

    .form-group {
      
      input {
        flex: 1;
      }
    }
  }

  &#token-selector {

    .token-wrapper {
      max-height: 500px;
      gap: 0;

      .actor {
        padding: 8px 6px;
        font-size: 14px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-top: 1px solid var(--color-border-light-2);
        border-bottom: 1px solid var(--color-border-light-2);

        .wrapper {
          display: flex;
          justify-content: start;
          align-items: center;

          img {
            height: 40px;
            width: 40px;
            object-position: 50% 0;
            object-fit: cover;
            border-radius: 5px;
            border: 1px solid var(--color-border-light-2);
          }

          input {
            border: 0;
            background-color: transparent;
            font-size: 20px;
            margin: 0 5px 0 5px;
            text-indent: 5px;
            color: var(--color-text-primary);
          }
        }

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          border-bottom: 0;
        }

        .buttons {
          display: flex;
          align-items: center;
          justify-content: end;
        }
      }
    }

  }

  &#text-dialog {
    height: 100%;

    .editor-dialog-body {
      height: 100%;

      prose-mirror {
        height: 100%;
      }
    }
  }

  &#tooltip-container {
    --border-color: var(--primary-dark);
    --text-color: var(--color-dark-1);
    --text-shadow: none;
    --highlight-color: var(--primary-color);

    pointer-events: all;
    background-image: url(../images/sheet/parchment.jpg);
    box-shadow: 0 0 15px #6b6a6a inset;

    position: fixed;
    min-height: 200px;
    width: min-content;
    z-index: var(--z-index-tooltip);

    border-radius: 5px;
    padding: 12px;

    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;

    &.theme-dark {
      --border-color: var(--color-light-3);
      --text-color: var(--color-light-2);
      --text-shadow: white;
      --highlight-color: var(--color-shadow-highlight);

      background: var(--color-cool-5-90);
      box-shadow: none;
    }

    &.theme-light {
      --border-color: var(--primary-dark);
      --text-color: var(--color-dark-1);
      --text-shadow: none;
      --highlight-color: var(--primary-color);

      background-image: url(../images/sheet/parchment.jpg);
      box-shadow: 0 0 15px #6b6a6a inset;
    }

    .tooltip-info {
      font-size: 10px;
      color: var(--text-color);
    }

    .tooltip-header {
      display: flex;
      align-items: center;
      height: auto;
      width: auto;

      input {
        font-family: var(--font-h4);
        font-weight: bold;
        font-size: 22px;
        overflow-x: hidden;
        background-color: transparent;
        border: 0;
        flex: 1 1 auto;
        min-width: 0; 
        height: 40px;

        &:disabled {
          color: var(--text-color);
        }
      }

      .image {
        margin: 3px 5px 3px 0;
        height: 40px;
        width: 40px;
        border: 1px solid var(--border-color);
        border-radius: 3px;
      }

      .cost-printer {
        color: black;
        padding-left: 3px;
        margin-left: 10px;
        flex: 0 0 auto;
        height: 100%;
        gap: 3.5px;
        font-size: 15px;
        height: 40px;

        .cost-img {
          height: 16px;
          width: 16px;
          border-radius: 5px;
          border: 1px solid var(--text-shadow);
        }

        .cost {
          .cost-icon, b {
            text-shadow: -1px 0 var(--text-shadow), 0 1px var(--text-shadow), 1px 0 var(--text-shadow), 0 -1px var(--text-shadow);
          }
        }
        
      }

      &.invisible {
        display: none;
      }
    }
    
    .tooltip-description {
      font-size: 14px;
      color: var(--text-color);
      padding: 0 6px;

      &.invisible {
        display: none;
      }
    }

    .tooltip-details {

      .box-wrapper {
        display: flex;
        gap: 5px;
        padding: 5px;
        flex-wrap: wrap;

        .detail {
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 13px;
          width: fit-content;
          padding: 3px 5px;
          display: flex;
          justify-content: center;
          border-radius: 3px;
          background-color: #755477;
          border: 1px solid black;
          color: #f1f1f1;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
    }

    .hyperlink-style {
      color: var(--highlight-color);
      cursor: pointer;
      
      &:hover {
        text-shadow: 2px 2px 5px #ca0000;
      }
    }

    .underline {
      clear: both;
      border: 0;
      height: 2px;
      margin: 7px 0;
      color: var(--border-color);
      background-image: linear-gradient(90deg, transparent 0%, var(--border-color) 33%, var(--border-color) 66%, transparent 100%);

      &.invisible {
        display: none;
      }
    }
  }
}

