<form id="text-dialog" class="dialog-v13 dialog-content standard-form {{cssClass}}" autocomplete="off">
  <h4 class="divider">{{localize "PDE.TEXT_EDITOR.TITLE"}}</h4>

  <section class="editor-dialog-body">
    <prose-mirror value="{{text}}"></prose-mirror>
  </section>
</form>